<div class="flex flex-col flex-auto min-w-0" *transloco="let t">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">{{ t('Para-Professionals') }}</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">{{ t('Add a Para-Professional') }}</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          {{ t('Add a Para-Professional') }}
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="w-full">

      <div class="p-4 bg-card shadow rounded overflow-hidden">

        <!-- Alert -->
        <app-feedback-display *ngIf="feedback$ | async" [feedback]="feedback$"></app-feedback-display>

        <form [formGroup]="professionalForm">
          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('Name') }}</mat-label>
              <input aria-label="{{ t('Para-Professional name') }}" matInput formControlName="name"
                placeholder="{{ t('Para-Professional name') }}" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Para-Professional name is required', control: professionalForm.controls['name']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'minlength', message: 'Para-Professional name should have at least 3 characters', control: professionalForm.controls['name']}"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('Position') }}</mat-label>
              <input aria-label="Para-Professional position" matInput formControlName="position"
                placeholder="Para-Professional position" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Para-Professional position is required', control: professionalForm.controls['position']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'minlength', message: 'Para-Professional position should have at least 3 characters', control: professionalForm.controls['position']}"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('Email') }}</mat-label>
              <input type="email" aria-label="Email address" matInput formControlName="email"
                placeholder="Email address" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Email is required',
            control: professionalForm.controls['email']
          }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'email',
            message: 'Email is invalid',
            control: professionalForm.controls['email']
          }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Email should have at least 3 characters',
            control: professionalForm.controls['email']
          }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'Email should have maximum 360 symbols',
            control: professionalForm.controls['email']
          }"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('Phone Number') }}</mat-label>
              <input aria-label="Para-Professional phone number" matInput formControlName="phone"
                placeholder="Para-Professional phone number" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Para-Professional phone is required', control: professionalForm.controls['phone']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'minlength', message: 'Para-Professional phone should have at least 3 characters', control: professionalForm.controls['phone']}"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('Institution') }}</mat-label>
              <input type="text" aria-label="{{ t('Institution') }}" matInput [formControl]="institutionControl"
                [matAutocomplete]="institutionAutocomplete">
              <mat-autocomplete #institutionAutocomplete="matAutocomplete" [displayWith]="displayInstitutionFn"
                (optionSelected)="updateSelectedInstitution($event)">
                <mat-option *ngFor="let institution of filteredInstitutions | async" [value]="institution">
                  {{ institution.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Para-Professional institution is required', control: professionalForm.controls['institution']}"></ng-container>
          </div>

          <div class="flex justify-between my-4">
            <a [routerLink]="['/dashboard/para-professionals']" class="px-8" mat-flat-button [color]="'secondary'">
              {{ t('Cancel') }}
            </a>
            <button class="px-8" mat-flat-button [color]="'primary'" type="button" [disabled]="professionalForm.invalid"
              (click)="submit()">
              <span *ngIf="!( loading$ | async )">
                {{ t('Add Para-Professional') }}
              </span>
              <mat-progress-spinner *ngIf="( loading$ | async )" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <mat-error>{{ message }}</mat-error>
  </ng-container>
</ng-template>
