<div class="flex flex-col flex-auto min-w-0" *transloco="let t">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">{{ t('Users') }}</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">{{ t('Add-a-User') }}</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
            {{ t('Add-a-User') }}
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="w-full">

      <div class="p-4 bg-card shadow rounded overflow-hidden">

        <!-- Alert -->
        <app-feedback-display *ngIf="feedback$ | async" [feedback]="feedback$"></app-feedback-display>

        <form [formGroup]="userForm">
          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('First-Name') }}</mat-label>
              <input aria-label="{{ t('First-Name') }}" matInput formControlName="firstName" placeholder="{{ t('First-Name') }}" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'First name is required', control: userForm.controls['firstName']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'minlength', message: 'First name should have at least 3 characters', control: userForm.controls['firstName']}"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('Last-Name') }}</mat-label>
              <input aria-label="{{ t('Last-Name') }}" matInput formControlName="lastName" placeholder="{{ t('Last-Name') }}" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Last name is required', control: userForm.controls['lastName']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'minlength', message: 'Last name should have at least 3 characters', control: userForm.controls['lastName']}"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('Role') }}</mat-label>
              <input type="text" aria-label="{{ t('Role') }}" matInput [formControl]="roleControl"
                [matAutocomplete]="roleAutocomplete">
              <mat-autocomplete #roleAutocomplete="matAutocomplete" [displayWith]="displayRoleFn"
                (optionSelected)="updateSelectedRole($event)">
                <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
                  {{ role }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('Country') }}</mat-label>
              <input type="text" aria-label="{{ t('Country') }}" matInput [formControl]="countryControl"
                [matAutocomplete]="countryAutocomplete">
              <mat-autocomplete #countryAutocomplete="matAutocomplete" [displayWith]="displayCountryFn"
                (optionSelected)="updateSelectedCountry($event)">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                  <img [src]="country.flag" class="w-6 m-1 inline-block">
                  {{ country.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Country is required', control: userForm.controls['country']}"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('Email') }}</mat-label>
              <input type="email" aria-label="Email address" matInput formControlName="email"
                placeholder="Email address" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Email is required',
            control: userForm.controls['email']
          }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'email',
            message: 'Email is invalid',
            control: userForm.controls['email']
          }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Email should have at least 3 characters',
            control: userForm.controls['email']
          }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'Email should have maximum 360 symbols',
            control: userForm.controls['email']
          }"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>{{ t('Password') }}</mat-label>
              <input type="password" aria-label="{{ t('Password') }}" matInput formControlName="password" placeholder="{{ t('Password') }}" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Password is required', control: userForm.controls['password']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'minlength', message: 'Password should have at least 8 characters', control: userForm.controls['password']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'passwordRule', message: 'Password should have at least one uppercase character, one lowercase character, and one symbol', control: userForm.controls['password']}"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>Confirm Password</mat-label>
              <input type="password" aria-label="{{ t('Confirm-Password') }}" matInput formControlName="confirmPassword"
                placeholder="{{ t('Confirm-Password') }}" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Password confirmation is required', control: userForm.controls['confirmPassword']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'passwordMatch', message: 'Passwords must match', control: userForm.controls['confirmPassword']}"></ng-container>
          </div>

          <div class="flex justify-between my-4">
            <a [routerLink]="['/dashboard/users']" class="px-8" mat-flat-button [color]="'secondary'">
                {{ t('Cancel') }}
            </a>
            <button class="px-8" mat-flat-button [color]="'primary'" type="button" [disabled]="userForm.invalid"
              (click)="submit()">
              <span *ngIf="!( loading$ | async )">
                {{ t('Add User') }}
              </span>
              <mat-progress-spinner *ngIf="( loading$ | async )" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <mat-error>{{ message }}</mat-error>
  </ng-container>
</ng-template>
