<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">Diseases</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Add a Disease</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          Add a Disease
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="w-full">

      <div class="p-4 bg-card shadow rounded overflow-hidden">
        <form [formGroup]="diseaseForm">
          <mat-form-field class="w-full mb-4">
            <mat-label>Name</mat-label>
            <input aria-label="Disease name" matInput formControlName="name" placeholder="Disease name" />
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Disease name is required', control: diseaseForm.controls['name']}"></ng-container>
          </mat-form-field>

          <mat-form-field class="w-full mb-4">
            <mat-label>Code</mat-label>
            <input aria-label="Disease code" matInput formControlName="code" placeholder="Disease code" />
          </mat-form-field>

          <mat-form-field class="w-full mb-4">
            <mat-label>Classification</mat-label>
            <input aria-label="Disease classification" matInput formControlName="classification"
              placeholder="Disease classification" />
          </mat-form-field>

          <div class="w-full mb-4">
            <label>Is this a zoonotic disease?</label>
            <mat-radio-group class="flex" formControlName="zoonotic" aria-label="zoonotic">
              <mat-radio-button [value]="false">No</mat-radio-button>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="flex justify-end my-4">
            <button class="px-8" mat-flat-button [color]="'primary'" type="button" [disabled]="diseaseForm.invalid"
              (click)="submit()">
              Add Disease
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <mat-error>{{ message }}</mat-error>
  </ng-container>
</ng-template>