<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Species</strong>
      </c-card-header>
      <c-card-body>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <th>ID</th>
            <th>Name</th>
          </thead>
          <tbody>
            <tr *ngFor="let specie of species$ | async; index as i">
              <td>{{ specie.id }}</td>
              <td>{{ specie.name }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>