<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Species</strong>
      </c-card-header>
      <c-card-body>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of users$ | async; index as i">
              <td>{{ user.name }}</td>
              <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
              <td>{{ user.roles }}</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>