<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Add Disease</strong>
      </c-card-header>
      <c-card-body>
        <form cForm [formGroup]="diseaseForm" novalidate="novalidate" (ngSubmit)="submit()" class="needs-validation">
          <c-row class="g-3 mb-3">
            <c-col xs>
              <label>Name</label>
              <input aria-label="Disease name" cFormControl formControlName="name" placeholder="Disease name" />
              <ng-container [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{validation: 'required', message: 'Species name is required', control: diseaseForm.controls['name']}"></ng-container>
              <ng-container [ngTemplateOutlet]="formError"
                [ngTemplateOutletContext]="{validation: 'minlength', message: 'Species name should have at least 3 characters', control: diseaseForm.controls['name']}"></ng-container>
            </c-col>
          </c-row>
          <c-row class="g-3 mb-3">
            <c-col xs>
              <label>Code</label>
              <input aria-label="Code" cFormControl formControlName="code" placeholder="Code" />
            </c-col>
            <c-col xs>
              <input aria-label="Classification" cFormControl formControlName="classification"
                placeholder="Classification" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <c-col>
              <label>Is the disease zoonotic?</label>
              <div>
                <c-form-check>
                  <input cFormCheckInput formControlName="zoonotic" type="radio" [value]="false" />
                  <label cFormCheckLabel>No</label>
                </c-form-check>
                <c-form-check>
                  <input cFormCheckInput formControlName="zoonotic" type="radio" [value]="true" />
                  <label cFormCheckLabel>Yes</label>
                </c-form-check>
              </div>
            </c-col>
          </c-row>
          <c-row>
            <c-col>
              <button cButton type="submit" class="px-4" color="primary" [disabled]="diseaseForm.invalid">
                Submit
              </button>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="text-danger p-2"><small>{{ message }}</small></div>
  </ng-container>
</ng-template>