<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">Para-Professionals</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Para-Professionals List</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          Para-Professionals List
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="max-w-full prose prose-sm">

      <div class="spinner-container" *ngIf="loading$ | async">
        <mat-spinner></mat-spinner>
      </div>

      <!-- Alert -->
      <ng-container *ngIf="( feedback$ | async)">
        <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false"
          [type]="((feedback$ | async)?.isError ? 'error' : 'success' )" [@shake]="((feedback$ | async)?.isError)">
          <p *ngIf="(feedback$ | async)?.errors?.length == 1" class="text-red">{{ (feedback$ | async)?.summary
            }}</p>

          <ul *ngIf="(feedback$ | async)?.errors?.length != 1">
            <li *ngFor="let error of (feedback$ | async)?.errors">{{ error }}</li>
          </ul>
        </fuse-alert>
      </ng-container>

      <div class="flex justify-end my-4">
        <a [routerLink]="['/dashboard/para-professionals/create']" class="px-8" mat-flat-button [color]="'primary'">
          Add Para-Professional
        </a>
      </div>

      <mat-form-field class="w-full">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. horses" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="p-4">ID</th>
          <td mat-cell *matCellDef="let el" class="p-4"> {{el.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="p-4"> Name </th>
          <td mat-cell *matCellDef="let el" class="p-4"> {{el.name}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef class="p-4"> Position </th>
          <td mat-cell *matCellDef="let el" class="p-4"> {{el.position}} </td>
        </ng-container>

        <!-- Institution Column -->
        <ng-container matColumnDef="institutionName">
          <th mat-header-cell *matHeaderCellDef class="p-4"> Institution </th>
          <td mat-cell *matCellDef="let el" class="p-4"> {{el.institutionName}} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef class="p-4"> Phone </th>
          <td mat-cell *matCellDef="let el" class="p-4"> {{el.phone}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="p-4"> Email </th>
          <td mat-cell *matCellDef="let el" class="p-4"> {{el.email}} </td>
        </ng-container>

        <!-- Actions Column-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="p-4 max-w-[120px]"></th>
          <td mat-cell *matCellDef="let row;" class="p-4">
            <!-- <button mat-icon-button>
              <mat-icon svgIcon="heroicons_outline:eye"></mat-icon>
            </button> -->
            <button mat-icon-button (click)="onDelete(row.id)">
              <mat-icon color="warn" svgIcon="heroicons_outline:trash"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-12 text-center" colspan="7">
            <mat-icon class="icon-size-24 text-secondary" [svgIcon]="'heroicons_solid:clipboard-list'"></mat-icon>
            <ng-container *ngIf="(professionals$ | async)?.length">
              <p>No data matching the filter "{{input.value}}"</p>
            </ng-container>
            <ng-container *ngIf="!(professionals$ | async)?.length">
              <p>No data was loaded</p>
            </ng-container>
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[15, 25, 100]" aria-label="Select page of para-professionals"></mat-paginator>
    </div>
  </div>
</div>