<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">Institutions</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Add an Institution</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          Add an Institution
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="w-full">

      <div class="p-4 bg-card shadow rounded overflow-hidden">
        <!-- Alert -->
        <ng-container *ngIf="( feedback$ | async)">
          <fuse-alert class="my-4" [appearance]="'outline'" [showIcon]="false"
            [type]="((feedback$ | async)?.isError ? 'error' : 'success' )" [@shake]="((feedback$ | async)?.isError)">
            <p *ngIf="(feedback$ | async)?.errors?.length == 1" class="text-red">{{ (feedback$ | async)?.summary
              }}</p>

            <ul *ngIf="(feedback$ | async)?.errors?.length != 1">
              <li *ngFor="let error of (feedback$ | async)?.errors">{{ error }}</li>
            </ul>
          </fuse-alert>
        </ng-container>

        <form [formGroup]="institutionForm">
          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>Name</mat-label>
              <input aria-label="Institution name" matInput formControlName="name" placeholder="Institution name" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Institution name is required', control: institutionForm.controls['name']}"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full mb-4">
              <mat-label>Type</mat-label>
              <input aria-label="Institution type" matInput formControlName="type" placeholder="Institution type" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Institution type is required', control: institutionForm.controls['type']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'minlength', message: 'Institution type should have at least 3 characters', control: institutionForm.controls['type']}"></ng-container>
          </div>

          <div class="w-full mb-4">
            <label>Is this a public sector institution?</label>
            <mat-radio-group class="flex" formControlName="publicSector" aria-label="publicSector">
              <mat-radio-button [value]="false">No</mat-radio-button>
              <mat-radio-button [value]="true">Yes</mat-radio-button>
            </mat-radio-group>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Public sector is required', control: institutionForm.controls['publicSector']}"></ng-container>
          </div>

          <div class="flex justify-between my-4">
            <a [routerLink]="['/dashboard/institutions']" class="px-8" mat-flat-button [color]="'secondary'">
              Cancel
            </a>
            <button class="px-8" mat-flat-button [color]="'primary'" type="button" [disabled]="institutionForm.invalid"
              (click)="submit()">
              <span *ngIf="!( loading$ | async )">
                Add Institution
              </span>
              <mat-progress-spinner *ngIf="( loading$ | async )" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <mat-error>{{ message }}</mat-error>
  </ng-container>
</ng-template>