<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">User</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Update Profile</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          Update Profile
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="w-full">

      <div class="p-4 bg-card shadow rounded overflow-hidden">

        <!-- Alert -->
        <app-feedback-display *ngIf="feedback$ | async" [feedback]="feedback$"></app-feedback-display>

        <form [formGroup]="profileForm">
          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>Email</mat-label>
              <input type="email" aria-label="Email address" matInput formControlName="email"
                placeholder="Email address" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Email is required',
            control: profileForm.controls['email']
          }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'email',
            message: 'Email is invalid',
            control: profileForm.controls['email']
          }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Email should have at least 3 characters',
            control: profileForm.controls['email']
          }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'Email should have maximum 360 symbols',
            control: profileForm.controls['email']
          }"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>Password</mat-label>
              <input type="password" aria-label="Password" matInput formControlName="password" placeholder="Password" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Password is required', control: profileForm.controls['password']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'minlength', message: 'Password should have at least 8 characters', control: profileForm.controls['password']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'passwordRule', message: 'Password should have at least one uppercase character, one lowercase character, and one symbol', control: profileForm.controls['password']}"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label>Confirm Password</mat-label>
              <input type="password" aria-label="Confirm password" matInput formControlName="confirmPassword"
                placeholder="Confirm password" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Password confirmation is required', control: profileForm.controls['confirmPassword']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'passwordMatch', message: 'Passwords must match', control: profileForm.controls['confirmPassword']}"></ng-container>
          </div>

          <div class="flex justify-between my-4">
            <a [routerLink]="['/dashboard']" class="px-8" mat-flat-button [color]="'accent'">
              Back
            </a>
            <button class="px-8" mat-flat-button [color]="'primary'" type="button" [disabled]="profileForm.invalid"
              (click)="submit()">
              <span *ngIf="!( loading$ | async )">
                Update Profile
              </span>
              <mat-progress-spinner *ngIf="( loading$ | async )" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <mat-error>{{ message }}</mat-error>
  </ng-container>
</ng-template>