<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Regions</strong>
      </c-card-header>
      <c-card-body>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th>Country</th>
          </thead>
          <tbody>
            <tr *ngFor="let region of regions$ | async; index as i">
              <td>{{ region.id }}</td>
              <td>{{ region.name }}</td>
              <td>{{ region.code }}</td>
              <td>{{ region.country }}</td>
            </tr>
          </tbody>
        </table>
        <!-- 
        <ngx-datatable [rows]="diseases$ | async" [columns]="columns" [columnMode]="'force'"
          class="bootstrap table table-bordered table-striped table-hover"></ngx-datatable> -->
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<ng-template #zoonoticTemplate let-row="row" let-value="value" let-i="index">
  {{ value ? 'Yes' : 'No' }}
</ng-template>