<div class="flex flex-col flex-auto min-w-0" *transloco="let t">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">{{ t('Institutions') }}</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">{{ t('Edit an Institution') }}</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          {{ t('Edit an Institution') }}
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="w-full">

      <div class="p-4 bg-card shadow rounded overflow-hidden">

        <!-- Alert -->
        <app-feedback-display *ngIf="feedback$ | async" [feedback]="feedback$"></app-feedback-display>

        <form [formGroup]="institutionForm">
          <div class="mb-4">
            <mat-form-field class="w-full">
              <mat-label> {{ t('Name') }}</mat-label>
              <input aria-label="{{ t('Institution name') }}" matInput formControlName="name" placeholder="{{ t('Institution name') }}" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Institution name is required', control: institutionForm.controls['name']}"></ng-container>
          </div>

          <div class="mb-4">
            <mat-form-field class="w-full mb-4">
              <mat-label> {{ t('Type') }}</mat-label>
              <input aria-label="{{ t('Institution type') }}" matInput formControlName="type" placeholder="{{ t('Institution type') }}" />
            </mat-form-field>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Institution type is required', control: institutionForm.controls['type']}"></ng-container>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'minlength', message: 'Institution type should have at least 3 characters', control: institutionForm.controls['type']}"></ng-container>
          </div>

          <div class="w-full mb-4">
            <label>{{ t('Is this a public sector institution') }}?</label>
            <mat-radio-group class="flex" formControlName="publicSector" aria-label="publicSector">
              <mat-radio-button [value]="false">{{ t('No') }}</mat-radio-button>
              <mat-radio-button [value]="true">{{ t('Yes') }}</mat-radio-button>
            </mat-radio-group>
            <ng-container [ngTemplateOutlet]="formError"
              [ngTemplateOutletContext]="{validation: 'required', message: 'Public sector is required', control: institutionForm.controls['publicSector']}"></ng-container>
          </div>

          <div class="flex justify-between my-4">
            <a [routerLink]="['/dashboard/institutions']" class="px-8" mat-flat-button [color]="'accent'">
               {{ t('Cancel') }}
            </a>
            <button class="px-8" mat-flat-button [color]="'primary'" type="button" [disabled]="institutionForm.invalid"
              (click)="submit()">
              <span *ngIf="!( loading$ | async )">
                {{ t('Update Institution') }}
              </span>
              <mat-progress-spinner *ngIf="( loading$ | async )" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <mat-error>{{ message }}</mat-error>
  </ng-container>
</ng-template>
